.popbox{
    z-index: 999;
    width:556px;
    border:12px solid #5a5a5a;
    position:fixed;
    left:0;
    right: 0;
    top:20%;
    margin: auto;
    border-radius: 5px;
}
.pop-tit{
    padding: 5px 20px;
    height:40px;
    line-height: 40px;
    background:#019875;
    color:#fff;
    font-size: 16px;
    margin: 0px;
    border-bottom: 5px #2E363F solid;
}
.pop-tit i{
    width:40px;
    height:40px;
    display: block;
    float:right;
    border-radius: 20px;
    background-image: url(/img/x.png);
    background-repeat: no-repeat;
    background-position:center;
    cursor: pointer;
}
.pop-tit i:hover{
    background-color:#00b38a;
}
.pop-content{
    padding: 20px 30px 20px 30px;
    background:#fff;
    font-size: 14px;
    color:#333;
    line-height: 24px;
    min-height:120px;
}
.pop-plaint{
    width:80px;
    margin-right: 20px;
    height:180px;
    background: url(/img/h.png) no-repeat center top;
    display:block;

}
.pop-error{
    width:80px;
    margin-right: 20px;
    height:180px;
    background: url(/img/h.png) no-repeat center top;
    display:block;

}
.pop-success{
    width:80px;
    margin-right: 20px;
    height:120px;
    background: url(/img/h.png) no-repeat center top;
    display:block;

}
.surebtn{
    width:100px;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #019875;
    display: block;
    position:absolute;
    right:20px;
    bottom:20px;
    color:#fff;
    border-radius: 5px;
}

.recharge_running{
    width:65px;
    height:65px;
    display: block;
    background: url(/img/charging.png) no-repeat center;
}
.charge_tip span{
    margin-left: 20px;
    font-size: 24px;
    color:#019875;
    line-height: 60px;
}
.charge_tip span i{
    color: #ff6a00;
    margin:0 5px;
}
div.charge_tip a{
    padding:5px 20px;
    display: block;
    text-align: center;
    line-height: 30px;
    color:#019875;
    font-size: 16px;
    border-radius: 5px;
    border:1px solid #019875;
    background:#fff;
    float:right;
    margin-left: 20px;
}
.btnBox{
    margin-top: 70px;
}
.pop-tit span{
    width:30px;
    height:30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    background:#00b38a;
    margin-top: 5px;
    cursor: pointer;
}
.publi-mask{position:fixed;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50%);z-index:999;top:0;left:0;}
img.public-load{position:fixed;left:0px;top:0px;bottom:0px;right:0px;margin:auto;display:block;width:50px;height:50px;z-index:1000;}
.rel{position:relative;}
.zoom{overflow:hidden;zoom:1;}